{% extends 'shop/layouts/main.html' %}

{% block title %}
<title>e-shop - Set New Password</title>
{% endblock title %}

{% block contend %}
<div class="container" style="margin-top: 70px;">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-center mb-4">Set New Password</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success w-100">Set Password</button>
                    </form>
                    <div class="text-center mt-3">
                        Remembered your password? <a href="{% url 'login' %}">Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contend %}
